extends layout

block content
  h1='About me'
  img(src='./images/selfie.jpg' height=500 width=700)
  p My name is Alan Wang and I am a fourth year computer science student at the University of Virginia.
  
