extends layout

block content
  h1='Practice makes Perfect'
  p I love algorithms and competitive programming.
  img(src='./images/2014_icpc.jpg' height=500 width=700)
  p We lost the battle in 2014 Mid-Atlantic Regional contest.
  img(src='./images/2014_board.jpg' height=500 width=700)
  P But the battle continues...
  
  
