extends layout

block content
  h1='Practice makes Perfect'
  h2='ICPC 2014'
  p I love algorithms and competitive programming.
  img(src='./images/2014_icpc.jpg' height=500 width=700)
  p We lost the battle in 2014 Mid-Atlantic Regional contest.
  img(src='./images/2014_board.jpg' height=500 width=700)
  h2='ICPC 2015'
  p Final ICPC
  img(src='./images/2015_icpc.jpg' height=500 width=500)
  p Wasted time on a cancelled problem
  img(src='./images/2015_board.jpg' height=500 width=500)
  p Keep fighting!
