extends layout

block content
  h1= title
  p Welcome to the home page of #{title}
  div
    ul
      li
        a(href='/algorithm') Competitive Programming
      li
        a(href='/about') About me
      li
        a(href='/hobbies') Hobbies
      li Get Connected
      ul
        li
          a(href='https://github.com/Ra1nWarden/' target='github') Github
        li
          a(href='https://twitter.com/Wang_Zihao/' target='twitter') Twitter
        li
          a(href='https://sg.linkedin.com/pub/zihao-wang/35/207/158/en' target='linked') LinkedIn
        li
          a(href='https://www.facebook.com/Wang.Zihao' target='facebook') Facebook
        li
          a(href='https://wzh19921016.wordpress.com/' target='blog') Chinese blog
        li
          a(href='/messages') Leave me a message
