extends layout

block content
  h1= title
  p Welcome to the home page of #{title}
  div
    ul
      li
        a(href='/about') About me
      li
        a(href='/blog') Chinese blog
      li
        a(href='/github') Github
      li
        a(href='https://twitter.com/Wang_Zihao') Twitter
