extends layout

block content
  h1= title
  p Welcome to the home page of #{title}
  div
    ul
      li
        a(href='/about') About me
      li
        a(href='https://wzh19921016.wordpress.com/' target='blog') Chinese blog
      li
        a(href='https://github.com/Ra1nWarden/' target='github') Github
      li
        a(href='https://twitter.com/Wang_Zihao/' target='twitter') Twitter
